.Panel {
    border: 1px solid grey;
    margin: auto 5px;
}

.Panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid grey;
    background-color: lightgrey;
    padding: 7px 10px;
    text-align: left;
}

.Panel-content {
    padding: 7px 10px;
    text-align: left;
}